.foto{width:18rem}
.bg-pkm{background:url(../img/paisaje_pokemon.jpg);background-attachment:fixed;background-position:center;background-size:cover;background-repeat:no-repeat}
.bg-pkdx-color{background-color:#dc0a2d;border-left:5px solid #212529}
.justify{text-align:justify;text-justify:inter-word}